/* NAVBAR */

nav {
    background-color: var(--azul-medio);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 0 2em;
    z-index: 9999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1.5em;
}

nav a {
    text-decoration: none;
    color: var(--azul-claro);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    color: var(--azul-escuro);
}

div > a {
    color: var(--azul-escuro);
    text-decoration: underline;
    font-size: 18px;
    margin: 10px;
    display: inline-block;
}

/* TABELA */

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
}

th {
    background-color: var(--azul-escuro);
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

td {
    padding: 12px;
    border-bottom: 1px solid var(--cinza-claro);
}

tbody tr {
    background-color: var(--azul-medio);
}

td a {
    text-decoration: underline;
    margin: 0 20px;
    padding-top: 15px;
}

td > form {
    display: inline;
}

/* FORM */

div > form {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
}

form div {
    margin: 1em;
    font-size: 1.6em;
}

h1 {
    color: var(--azul-medio);
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px 0;
}

form div input {
    width: 50vw;
    border-radius: 24px;
    display: block;
    color: black;
    padding: 1em
}

label {
    line-height: 1.5;
    padding: 0 0 .1em 1em;
    font-weight: 700;
    color: var(--azul-medio);
}

input[type="submit"] {
    background-color: var(--azul-escuro);
    color: white;
    border: none;
    border-radius: 24px;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}